#banner {
    display: block;
    width: 100%;
}

.item {
    background-color: #33a8ff;
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: 20px;
}

form {
    padding: 20px;
}
/* 
.container {
    width: 960px;
} */

@media screen and (max-width: 320px) {
    .container {
        width: 100%;
    }
}

p {
    font-weight: 700;
    padding: 20px;
}

#polyAnswer {
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}

.inputSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#planeButton {
    margin: 15px;
}

